/* Grotesk Book 18 */
@font-face {
  font-family: "Sharp-Grotesk";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("././SharpGroteskBook18.woff2") format("woff2"),
    url("./SharpGroteskBook18.woff") format("woff");
}
/* Grotesk Book Italic 18 */
@font-face {
  font-family: "Sharp-Grotesk";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("./SharpGroteskBookItalic18.woff2") format("woff2"),
    url("./SharpGroteskBookItalic18.woff") format("woff");
}
/* Grotesk Bold 12 */
@font-face {
  font-family: "Sharp-Grotesk";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./SharpGroteskSmBold12.woff2") format("woff2"),
    url("./SharpGroteskSmBold12.woff") format("woff");
}
/* Grotesk Bold 20 */
@font-face {
  font-family: "Sharp-Grotesk";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./SharpGroteskSmBold20.woff2") format("woff2"),
    url("./SharpGroteskSmBold20.woff") format("woff");
}
/* Grotesk Bold 25 */
@font-face {
  font-family: "Sharp-Grotesk";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("./SharpGroteskSmBold25.woff2") format("woff2"),
    url("./SharpGroteskSmBold25.woff") format("woff");
}
/* Grotesk Bold Italic 12 */
@font-face {
  font-family: "Sharp-Grotesk";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("./SharpGroteskSmBoldItalic12.woff2") format("woff2"),
    url("./SharpGroteskSmBoldItalic12.woff") format("woff");
}
/* Grotesk Bold Italic 20 */
@font-face {
  font-family: "Sharp-Grotesk";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("./SharpGroteskSmBoldItalic20.woff2") format("woff2"),
    url("./SharpGroteskSmBoldItalic20.woff") format("woff");
}
/* Grotesk Bold Italic 25 */
@font-face {
  font-family: "Sharp-Grotesk";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("./SharpGroteskSmBoldItalic25.woff2") format("woff2"),
    url("./SharpGroteskSmBoldItalic25.woff") format("woff");
}
